.profiles {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #1640a3;
    border-radius: 10px;
    background: linear-gradient(45deg, #1c2029,#181d27);
    padding: 20px;
    width: 400px;
    height: 100px;
}
.profile {
    animation: profile;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}
.profiles > a > img {
    width: 60px;
    height: 60px;
    float: left;
    padding: 0;
    margin-right: 10px;
    border-radius: 30px;
}
@keyframes profile {
    from {
            opacity: 0;
            transform: scale(10);
        }
        10% {
            opacity: 0.1;
            transform: scale(9);
        }
        20% {
            opacity: 0.2;
            transform: scale(8);
        }
        30% {
            opacity: 0.3;
            transform: scale(7);
        }
        40% {
            opacity: 0.4;
            transform: scale(6);
        }
        50% {
            opacity: 0.5;
            transform: scale(5);
        }
        60% {
            opacity: 0.6;
            transform: scale(4);
        }
        70% {
            opacity: 0.7;
            transform: scale(3);
        }
        80% {
            opacity: 0.8;
            transform: scale(2);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
    
h2 {
    font-size: 18px;
}
h2::first-letter {
    color: #1640a3;
    font-size: 20px;
}
@media screen and (min-width: 100px) and (max-width: 720px)  {
        .profiles {
            font-size: 14px;
            margin-top: 20px;
            margin-bottom: 10px;
            border: 2px solid #1640a3;
            border-radius: 10px;
            background: linear-gradient(45deg, #1c2029,#181d27);
            padding: 5px;
            max-width: 260px;
            max-height: 100px;
        }

        .main_content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
}
