.main_content > h1::first-letter {
    color: #fff;
    font-size: inherit;
}
.question {
    color: #5271b9;
    font-size: 25px;
}
p {
    font-size: 20px;
}

.otvet {
    translate: 100px;
    margin-top: 10px;
    font-style: italic;
    font-size: 18px;
    color: hsl(0, 0%, 60%);
    background-color: #1c212b;
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
}
.questionn {
    margin-top: 20px;
    background-color: #191c22;
    border-radius: 10px;
    padding: 10px;
}
@media screen and (min-width: 100px) and (max-width: 1300px) {
    .main_container {
        margin-right: 0%;
        justify-content: center;
    }
    footer {
        margin-right: 0%;
        justify-content: center;
    }
    .otvet {
        max-width: calc(90% - 0px);
        font-size: 18px;
        float: left;
        translate: 20px;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 90px;
    }
}